.sums {
  font-size: 3.5vh;
  margin: 10px;
  display: flex;
  gap: 2rem;
  color: gold;
  font-weight: 600;
  align-self: center;
  letter-spacing: 3px;
}

@media (max-width: 1200px) {
  .sums {
    font-size: 2.5vh;
  }

  .highlighted::before {
    transform: translate(-300%, 90%) !important;
  }

  .highlightedWhite::before {
    transform: translate(-300%, 90%) !important;
  }
  .highlightedIsOne::before {
    transform: translate(-330%, 90%) !important;
  }
}

@media (max-width: 550px) {
  .sums {
    font-size: 1.5vh;
  }

  .highlighted::before {
    transform: translate(-250%, 160%) !important;
    height: 5px !important;
    width: 5px !important;
  }

  .highlightedWhite::before {
    transform: translate(-250%, 160%) !important;
    height: 5px !important;
    width: 5px !important;
  }
  .highlightedIsOne::before {
    transform: translate(-280%, 160%) !important;
    height: 5px !important;
    width: 5px !important;
  }
}

.questionNumbers {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.2rem;
}

.questionSums {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.white {
  color: white;
}

.highlighted::before {
  position: absolute;
  content: '';
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: gold;
  transform: translate(-450%, 150%);
}

.highlightedWhite::before {
  position: absolute;
  content: '';
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: white;
  transform: translate(-450%, 150%);
}

.highlightedIsOne::before {
  position: absolute;
  content: '';
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: gold;
  transform: translate(-490%, 150%);
}
