.help {
  font-size: 1.5rem;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 25%;
  aspect-ratio: 1.5 / 1;
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
  border: 5px solid rgb(99, 208, 244);
}

.helpUsed {
  opacity: 0.3;
}

.wrapper {
  display: flex;
  justify-content: space-around;
}
