.question {
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 1rem;
  background-color: black;
  border-radius: 200px;
  border: 3px solid rgb(99, 208, 244);
  box-shadow: inset 0 0 10px 3px rgb(99, 208, 244);
}
