.answer {
  font-size: 3vh;
  display: flex;
  justify-content: flex-start;
  padding-left: 2.5rem;
  align-items: center;
  width: 45%;
  height: 7vh;
  background-color: black;
  margin-bottom: 1rem;
  border: 3px solid rgb(99, 208, 244);
  border-radius: 200px;
  box-shadow: inset 0 0 10px 3px rgb(99, 208, 244);
  cursor: pointer;
}

@media (max-width: 1200px) {
  .answer {
    font-size: 2.1vh;
    height: 5vh;
    box-shadow: inset 0 0 5px 1px rgb(99, 208, 244);
  }
}

@media (max-width: 550px) {
  .answer {
    height: 5vh;
    padding-left: 1rem;
    width: 90%;
  }
}

.letter {
  color: gold;
  white-space: pre;
}

.clicked {
  background-color: rgb(255, 165, 0, 0.8);
}

.correct {
  background-color: rgba(47, 255, 92, 0.822);
}

.invisible > span:nth-child(2) {
  opacity: 0.2;
}
