.question {
  font-size: 2.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 10vh;
  padding: 1rem;
  background-color: black;
  border-radius: 200px;
  border: 3px solid rgb(99, 208, 244);
  box-shadow: inset 0 0 10px 3px rgb(99, 208, 244);
}

@media (max-width: 1200px) {
  .question {
    font-size: 1.8vh;
  }
}
@media (max-width: 820px) {
  .question {
    border: 1px solid rgb(99, 208, 244);
    box-shadow: inset 0 0 5px 1px rgb(99, 208, 244);

    padding: 1.5rem;
  }
}
