.sums {
  font-size: 3.5vh;
  margin: 10px;
  display: flex;
  gap: 2rem;
  color: gold;
  font-weight: 600;
  align-self: center;
  letter-spacing: 3px;
}

.questionNumbers {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.2rem;
}

.questionSums {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.white {
  color: white;
}

.highlighted::before {
  position: absolute;
  content: '';
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: gold;
  transform: translate(-450%, 150%);
}

.highlightedWhite::before {
  position: absolute;
  content: '';
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: white;
  transform: translate(-450%, 150%);
}

.highlightedIsOne::before {
  position: absolute;
  content: '';
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: gold;
  transform: translate(-490%, 150%);
}
