.background {
  display: flex;
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
  background: url("../public/images/494664\ \(1\).webp") no-repeat center center
    fixed;

  filter: contrast(80%);
}

.wrapper {
  width: 75%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  display: flex;
  bottom: 0;
  color: white;
}
