.background {
  display: flex;
  position: relative;
  height: calc(var(--vh, 1vh) * 100);

  min-width: 100vw;
  background: url('../public/images/494664\ \(1\).webp') no-repeat center center
    fixed;

  filter: contrast(80%);
}

.wrapper,
.questionsWrapper {
  width: 75%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  display: flex;
  bottom: 0;
  color: white;
}

@media (max-width: 820px) {
  .questionsWrapper {
    width: 100%;
  }
  .wrapper {
    width: 100%;
  }
}
